{% extends "base.html" %}
{% load rendertext %}
{% block title %}메일 전송 완료{% endblock %}
{% block breadcrumbs %}<a href="{% url mail %}">{{ "Mail"|render_bread }}</a> <span>&raquo;</span> <a href="javascript:;">{{ "Complete"|render_bread }}</a>{% endblock %}
{% block head %}{{ "메일이 정상적으로 전송되었습니다."|render_head }}{% endblock %}
{% block content %}
<p>{{ "본 서비스는 메일의 전송을 100% 보장하지 않습니다."|render_red:18 }}</p>
<p>상황에 따라 받지 못한 사람이 있을 수 있으니(메일함이 모두 찬 경우 등) 중요한 메시지의 경우 개인적으로 연락을 취하는 것을 권장 드립니다.</p>
{% endblock %}
