{% extends "mentoring/base.html" %}
{% block mentoring_title %} &gt;&gt; 질문하기{% endblock %}
{% block mentoring_head %}질문하기{% endblock %}
{% block mentoring_external %}
{% endblock %}
{% block mentoring_content %}

<div class='float_right'>
  <span class="btn_pack medium"><button type="submit">확인</button></span>
  <span class="btn_pack medium"><a href="javascript:history.back(-1)">취소</a></span>
</div>
<div class="clear"></div>
<!--p><a href="#TB_inline?height=155&width=400&inlineId=modalWindow" class="thickbox">thickbox</a></p-->
<!-- ThickBox용 Division -->
<!--div id="modalWindow" style="display: none;"> 
  <p>
    <label>E-Mail (local):</label>
    <input type="text" id="thickboxEmail" />
    <input type="button" value="Get Value" />
  </p>
</div--> 
{% endblock %}
