@charset "utf-8";

#Wrapper #board_list table { margin:0px 0 5px 0; border-top:2px solid #D5D5D5; width:100%; table-layout:fixed; line-height:1.5; border-collapse:collapse; }
	#Wrapper #board_list table #search_result { border-top:1px solid #D5D5D5; }
	#Wrapper #board_list table caption { display:table-caption;.display:block; text-align:left; font-weight:normal; border-top:2px solid #D5D5D5; margin-top:5px; padding:10px 0 3px;.padding:10px 0 10px; }

	#Wrapper #board_list table .deleted { text-decoration: line-through; }
	#Wrapper #board_list table th, #Wrapper #board_list table td  {
		border-bottom:1px solid #E5E5E5; text-align:center; padding:9px 0 5px;
		overflow:hidden;.overflow:visible;.white-space:nowrap; .word-break:break-all;
	}
	
	#Wrapper #board_list table th { font:normal 12px "Nanum Gothic", 돋움,dotum,sans-serif !important; color:#5C5C5C !important; padding:10px 0 7px; font-weight:bolder; }
		#Wrapper #board_list table th.col_num { background:none; }
		#Wrapper #board_list table th.col_title { overflow:visible; }

	#Wrapper #board_list table td.col_title { padding-left:10px; text-align:left;}
	#Wrapper #board_list table span.category { font-size:9pt; color:#888; }
	#Wrapper #board_list table span.category_content { font-size:8pt; color:#555; }

	#Wrapper #board_list .commentCnt { font-size:8pt; color:#888; }
	#Wrapper #board_list .even {  }

/* 공통 버튼 이미지 클래스 height 29px */
.c_mbtn { background:url('/images/bg_btn_board.gif') no-repeat; cursor:pointer; border:none; text-indent:-1000em; overflow:hidden; padding:0; }


/* bbs title */
/*
#Wrapper #bbsTitle					{ background:url(/images/bbstitle_bg.jpg) -40px -30px no-repeat; padding:10px;
													border-top:1px solid #cdd5e8; border-left:1px solid #cdd5e8; }
#Wrapper #bbsTitle h1				{ font-size:17px; display:inline; }
#Wrapper #bbsTitle h2				{ font-size:13px; display:inline; }
#Wrapper #bbsTitle h1 .titleWrap		{ border-bottom:1px solid #afc07a; padding-bottom:6px; }
#Wrapper #bbsTitle h1 .titleWrap h2	{ font-size:13px; font-weight:bold; color:#000000; letter-spacing:2px; margin-top:4px; }
#Wrapper #bbsTitle h2 					{ color:#7f7f7f; line-height:20px;  overflow:hidden; }
*/

/** view **/
.boardview{width:100%; border-top:1px solid #999; border-bottom:1px solid #999; color:#000; font-size:12px; table-layout:fixed; border-collapse:collapse;}
.boardview caption{display:none;}
.boardview th{line-height:18px; padding:5px 0 4px; border-bottom:solid 1px #D2D2D2; background-color:#F1F1F4; font-weight:bold; color:#333; vertical-align:top;}
.boardview td{padding:8px 0 5px 10px; text-align:left; border-bottom:solid 1px #D2D2D2;}
.boardview td td{padding:0;}
.boardview .scrapCnt { cursor:pointer; }
/*.boardview tbody td{white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}*/
.boardview td#contents{padding:20px;}
.boardview td.menu{text-align:right;}
.boardview_comment{width:100%; border-top:1px solid #999; border-bottom:1px solid #999; margin-top:15px; color:#666; font-size:12px; table-layout:fixed; border-collapse:collapse;}
.boardview_comment caption{display:none;}
.boardview_comment td{padding:5px 0 3px 10px; text-align:left; line-height:1.4em;}
.boardview_comment tr.input td{padding:5px 0 5px 10px; border-bottom:solid 1px #D2D2D2;}
.boardview_comment tr.input td *{vertical-align:middle;}
.boardview_comment tr.input input.name{width:100px; padding:2px 0 1px; border:solid 1px #D2D2D2;}
.boardview_comment tr.input textarea.comment{width:80%; height:20px; overflow:visible; padding:2px 0 1px; border:solid 1px #D2D2D2;}
.boardview_comment tr.input input.submit{width:60px; border:solid 1px #666; background-color:#F2F2F2; font:normal 12px 돋움;}
.boardview_comment tr.input td.col_date { font-size:8pt !important; }

.boardview #commentList {  }
.boardview .right { float:right; }
.boardview #commentList .commentBody { padding: 8px; }
.boardview #commentList .commentBody td { border:0; }
.boardview #commentList .commentBody .commentTitle {  }
.boardview #commentList .commentBody .commentCreated {  }
.boardview #commentList .commentBody .commentContent { padding-left: 10px; border-left:3px solid #eee; }
.boardview #commentList .commentBody .commentmeta { padding-left: 10px; padding-top:5px; }
.boardview #commentList .odd { background-color:white; }
.boardview #commentList .even { background-color:#f5f5f5; }
.boardview #commentList .commentImageDiv { overflow-x:hidden;
	overflow-y:hidden; width:50px; height:50px; margin-right:8px; border:2px solid #888; }
.boardview #commentList .commentImage { width:50px; }

ul.top_menu {
	float:left;
}
ul.top_menu li {
	margin:5px;
	float:left;
}

/* pagenate */
.paginate_simple{padding:15px 0;text-align:center;line-height:normal}
.paginate_simple *{display:inline-block;position:relative;margin:0 -2px;padding:2px 4px;font-size:11px;font-family:Tahoma, Sans-serif;color:#333;line-height:normal;text-decoration:none;vertical-align:middle}
.paginate_simple a:hover,
.paginate_simple a:active,
.paginate_simple a:focus{background-color:#f8f8f8}
.paginate_simple strong{color:#ff6600}
.paginate_simple .direction{padding:0 6px;font-weight:bold;font-size:14px;color:#666;text-align:center}
.paginate_simple .direction:hover,
.paginate_simple .direction:active,
.paginate_simple .direction:focus{background-color:transparent !important;color:#333}
.paginate_simple .direction
span{overflow:hidden;visibility:hidden;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0}/* pagenate */
/* //pagenate */


/* read */
#board_content {}

#time_diff {
  margin-top:15px;
  font-size: 15pt;
  float: right;
}

#bulletin_title {
  padding: 0;
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 14pt;
  font-weight: bold;
}

.page-link {
  clear: both;
  font-weight: bold;
  margin: 0 0 1em 0;
}

/* Threaded Comments
---------------------------------------------------------- */
#comments ul {
  list-style-type: none;
}

#comments #id_content {
  /*width: 570px;*/
}

.commentlist {
  /*margin: 0;*/
  border-bottom: 1px solid #ddd;
}

.commentlist ul {
  margin-left: 20px;
  margin-bottom: 10px;
}

.commentlist li {
  margin: 0;
  border-top: 1px solid #ddd;
  background: #EDEFF4;
  padding: 10px 10px;
  padding-right: 0;
  //padding-bottom: 0;
}

.commentlist li .comment_wrap {
  overflow: visible;
  position: relative;
}

.commentlist li .comment_meta {
  padding-right: 10px;
  //padding-right: 30px;
}

.gravatar {
  float: left;
  height: 70px;
  border: 1px solid #eeeeee;
}

.gravatar img {
  padding: 4px;
  height: 60px;
  width: 60px;
  border: 1px solid #FFFFFF;
  background-color: #F9F9F9;
}

.comment_content {
  min-height: 80px;
  padding-left: 15px;
  position: relative;
  overflow: hidden;
}

.commentlist li ul li {
  margin-left: 20px;
}

.nocomments {
  text-align: center;
  margin: 0;
  padding: 0;
}

.comment_author {
  font-size: 10pt;
  font-style: normal;
  font-weight: bold;
  color: #3b5998;
}

.comment_author span {
  display: none;
}

.comment_time {
  float: right;
}

.comment_text {
  clear: both;
  padding-top: 5px;
  overflow: hidden;
  font-size: 9pt;
}

.comments_navigation {
  margin-top: 20px;
  clear: both;
  overflow: hidden;
}

.comments_navigation .nav_previous {
  float: left;
}

.comments_navigation .nav_next {
  float: right;
}

#respond {
  margin-top: 20px;
}

#respond #comment {
  width: 98%;
}

#comments label {
  padding-left: 6px;
  opacity: 0.75;
}

.cancel_comment_reply {
  margin-bottom: 6px;
}

/* About the Author
---------------------------------------------------------- */
#about_the_author {
  margin-bottom: 10px;
}

#about_the_author .author_content {
  padding: 10px;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  /*background-color: rgba(0, 0, 0, .03);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#02000000', EndColorStr = '#02000000');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#02000000',EndColorStr='#02000000')";*/
  background-color: #ecedee;
  min-height: 74px;
}

.author_info {
  overflow: hidden;
  padding-left: 15px;
  position: relative;
}

.author_name {
  font-size: 10pt;
  font-weight: bold;
  color: #3b5998;
}

.author_desc {
  margin-bottom: 0;
  font-size: 9pt;
}
/* //read */
