{% extends "board/list.html" %}

{% block list_content %}
  <table cellspacing="1" cellpadding="3" width="100%" border="0" style="table-layout:fixed">
  <colgroup>
    <col width="82">
    <!--col width="45"-->
    <col>
    <col width="135">
  </colgroup>
  <tr>
    <th>학기</th>
    <!--th>번호</th-->
    <th>제목</th>
    <th>작성자</th>
  </tr>
  {% for bulletin in noticeList %}
  <tr class="{% cycle 'odd' 'even' %}" >
    <td>공지사항</td>
    <!--td class='col_num'>*</td-->
    <td class='col_title{% if bulletin.deleted %} deleted{% endif %}'>
      <a href="{% url board_read board.name bulletin.id %}?page={{page}}&category={{ cid }}" rel="tooltip" title="{{bulletin.content|truncatewords:10}}{#striptags#}">
        {{bulletin.title}}
        {% if bulletin.gallery %} <img height="15px" src="/media/images/board/image_icon.png">{% endif %}
      </a>{% if bulletin.secret %} <img src="/media/images/board/protected_icon.gif">{% endif %}
      <span class="commentCnt{% if bulletin.is_new %} mark_new{% endif %}">[{{bulletin.commentCnt}}]</span>
        {% if bulletin.files.count %}{% for file in bulletin.files.all %} <a href="{{ file.file.url }}"><img height="15px" src="{{ STATIC_URL }}images/board/file_icon.gif" alt="{{ file }}" rel="tooltip" title="{% if file.isImage %}<img src='{{ MEDIA_URL }}{{file.file}}' width='100px' height='100px'>{% else %}{{ file }}<br>({{ file.size|filesizeformat }}){% endif %}"></a>
        {% endfor %}
        [총 {{ bulletin.get_total_filesize|filesizeformat }}]{% endif %}
    </td>
    <td>{{ bulletin.get_writerName|safe }}</td>
  </tr>
  {% endfor %}

  {% for bulletin in bulletinList %}
    <tr class="{% cycle 'odd' 'even' %}" >
      <td>{{ bulletin.created|date:"Y년 m월" }}</td>
      <!--td class='col_num'>{{ forloop.revcounter|add:no_seq }}</td-->
      <td class='col_title{% if bulletin.deleted %} deleted{% endif %}'>
        <a href="{% url board_read board.name bulletin.id %}?page={{page}}&category={{ cid }}" rel="tooltip" title="{% if bulletin.deleted %}{% else %}{{bulletin.content|truncatewords:10}}{#striptags#}{% endif %}">
          {% if bulletin.category %}<span class="category">[<span class="category_content">{{ bulletin.category.title }}</span>]</span>{% endif %}
          {% if bulletin.deleted %}
            삭제된 글입니다.
          {% else %}
            {{bulletin.title}}
          {% endif %}
          {% if bulletin.gallery %} <img height="15px" src="/media/images/board/image_icon.png">{% endif %}
        </a>{% if bulletin.secret %} <img src="/media/images/board/protected_icon.gif">{% endif %}
        <span class="commentCnt{% if bulletin.is_new %} mark_new{% endif %}">[{{bulletin.commentCnt}}]</span>
          {% if bulletin.files.count %}{% for file in bulletin.files.all %} <a href="{{ file.file.url }}"><img height="15px" src="{{ STATIC_URL }}images/board/file_icon.gif" alt="{{ file }}" rel="tooltip" title="{% if file.isImage %}<img src='{{ MEDIA_URL }}{{file.file}}' width='100px' height='100px'>{% else %}{{ file }}<br>({{ file.size|filesizeformat }}){% endif %}"></a>
          {% endfor %}
          [총 {{ bulletin.get_total_filesize|filesizeformat }}]{% endif %}
      </td>
      <td>{{ bulletin.get_writerName|safe }}</td>
    </tr>
  {% empty %}
  <tr>
    <td colspan="3">게시물이 없습니다.</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
