{% extends "base.html" %}
{% load i18n simplewiki_utils rendertext static %}
{% block external_css %}
<!--link rel="stylesheet" media="screen,print" href="{{"simplewiki/css/base.css"|prepend_media_url}}" /-->
<link rel="stylesheet" media="print" href="{{"simplewiki/css/base_print.css"|prepend_media_url}}" />
<link rel="stylesheet" href="{{"simplewiki/css/autosuggest_inquisitor.css"|prepend_media_url}}" />
{% endblock %}
{% block external_js %}
<script type="text/javascript" src="{{"simplewiki/js/bsn.AutoSuggest_c_2.0.js"|prepend_media_url}}"></script>
<script type="text/javascript">
  {% if wiki_write %}
	function set_related_article_id(s) {
		document.getElementById('wiki_related_input_id').value = s.id;
		document.getElementById('wiki_related_input_submit').disabled=false;
	}
	var x = window.onload;
	window.onload = function(){
			var options = {
			script: "{% url search_related wiki_article.get_url %}?self={{wiki_article.pk }}&",
			json: true,
			varname: "query",
			maxresults: 35,
			callback: set_related_article_id,
			noresults: "{% trans "Nothing found!" %}"
		};
		var as = new AutoSuggest('wiki_related_input', options);
		if (typeof x == 'function')
			x();
	}
  {% endif %}
</script>
{% endblock %}

{% block title %}위키{% endblock %}
{% block breadcrumbs %}<a href="{% url wiki_root %}">{{ "Wiki"|render_bread }}</a>
  {% if wiki_article %}
   <span>&raquo;</span> <a href="{% url wiki_view wiki_article.get_url %}">{{ wiki_article.title|render_bread|safe }}</a>
  {% endif %}
{% endblock %}

{% block head %}

{% block wiki_head %}
{% endblock %}

{% block wiki_page_title %}{% endblock %}

{% endblock %}

{% block content %}

{% block wiki_body %}

{% endblock %}

{% endblock %}


{% block side_area %}

{% block wiki_panel %}

<div id="wiki_panel">
    
    <div class="wiki_box">
    	<div class="wiki_box_header">
    		<div class="wiki_box_corner"></div>
    		<div class="wiki_box_bar"></div>
    	</div>
    	<div class="wiki_box_contents">
        	<div class="wiki_box_title">{{ "검색"|render_black:14 }}</div>
            <form method="POST" action='{% url wiki_search_articles 'home' %}'>{% csrf_token %}
            	<input type="text" name="value" id="wiki_search_input" style="width: 70%" value="{{wiki_search_query|escape}}"/>
              <button type="submit" class="btn" id="wiki_search_input_submit" value={% trans "Go!" %}><span>{{ "찾기"|render_button }}</span></button>
            </form>
        </div>
        <div class="wiki_box_footer">
        	<div class="wiki_box_corner"></div>
        	<div class="wiki_box_bar"></div>
        </div>
    </div>
    
    <div class="wiki_box">
    	<div class="wiki_box_header">
    		<div class="wiki_box_corner"></div>
    		<div class="wiki_box_bar"></div>
    	</div>
    	<div class="wiki_box_contents" style="position: relative;">

      {% if wiki_article %}
    	<div style="border: 2px outset #CCC; width: 270px; padding: 10px; background-color: #FFF; position: absolute; right: 100px; top: -80px; display: none; color: #000; z-index:1000;" id="wiki_create_form">
    	    {% with "this.wiki_article_name.value+'/_create/'" as theaction %}
    		<form method="GET" onsubmit="this.action='{% url wiki_view wiki_article.get_url %}/' + {{ theaction }};">
    		{% endwith %}
    			<h2>{{ "새로운 위키문서 만들기"|render_bold_black:15 }}</h2>
    			<p>
    			    <label for="id_wiki_article_name">{{ "새 위키 문서의 이름" }}</label>
    			    <input type="text" name="wiki_article_name" id="id_wiki_article_name" /><br/>
    			    <!--label for="id_wiki_article_is_child">{% trans "Create as a child of current article"%}</label>
    			    <input type="checkbox" name="wiki_article_is_child" id="id_wiki_artcile_is_child" disabled="true" checked={%if wiki_article%}"yes"{%else%}"no"{%endif%}-->
            <input type="hidden" name="wiki_article_is_child" id="id_wiki_artcile_is_child" value="{%if wiki_article%}1{%else%}0{%endif%}">
    			</p>
    			<p>
    				<button type="button" class="btn" class="button" value="{% trans "Cancel" %}" style="display: inline-block; margin-right: 2px;" onclick="document.getElementById('wiki_create_form').style.display='none';"><span>취소</span></button>
    				<input type="submit" class="button" value="다음 &gt;" style="display: inline-block; margin-right: 2px; font-weight: bold;" />
    			</p>
    		</form>
    	</div>
      {% endif %}
    	<p>
    	
	    {% if wiki_article %} 
          <button type="button" class="btn" onclick="javascript:location.href='{% url wiki_view wiki_article.get_url %}'" value="View" style="width: 100%;"><span>{{ "보기"|render_button }}</span></button><br />
          <button type="button" class="btn" onclick="javascript:location.href='{% url wiki_edit wiki_article.get_url %}'" value="Edit" style="width: 100%;"{% if not wiki_write %} disabled="true"{%endif%}><span>{{ "수정"|render_button }}</span></button><br />
    	    <button type="button" class="btn" onclick="javascript:location.href='{% url wiki_history wiki_article.get_url 1 %}'" value="History" style="width: 100%;"><span>{{ "히스토리"|render_button }}</span></button>
    	{% endif %}
    	<button type="button" class="btn" onclick="document.getElementById('wiki_create_form').style.display='block';" value="{% trans "Create article" %}" style="width: 100%; margin-bottom: 2px;" class="button"><span>{{ "새 문서 만들기"|render_button }}</span></button>
    	<button type="button" class="btn" onclick="javascript:location.href='{% url wiki_random 'home' %}'" value="{% trans "Random article" %}" style="width: 100%; margin-bottom: 2px;" class="button"><span>{{ "임의의 문서"|render_button }}</span></button>
    	</p>
	    {% if wiki_article %} 
    	    {% if wiki_article.locked %}
    	    <p><strong>{% trans "This article has been locked" %}</strong></p>
    	    {% endif %}
    	    <p>
    	        <i>마지막 수정: {{ wiki_article.modified_on|date:'Y년 m월 d일 ?h시 ?m분' }}</i>
    	    </p>
        {% endif %}
    	</div>
    	<div class="wiki_box_footer">
    		<div class="wiki_box_corner"></div>
    		<div class="wiki_box_bar"></div>
    	</div>
    </div>


    {% if wiki_article %}    
        <div class="wiki_box">
        	<div class="wiki_box_header">
        		<div class="wiki_box_corner"></div>
        		<div class="wiki_box_bar"></div>
        	</div>
        	<div class="wiki_box_contents">

            <div class="wiki_box_title">{{ "연결된 문서들"|render_black:18}}</div>
        {% if wiki_article.related.all %}
        	<p>
        		{% for rel in wiki_article.related.all %}
        		<span class="related">
        			{% if wiki_write %}
        				<a href="javascript:if(confirm('정말 이 연결을 삭제하시겠습니까?')) { location.href='{% url wiki_remove_relation wiki_article.get_url rel.id%}'; }">
        					<img src="{{ "simplewiki/img/delete.gif"|prepend_media_url }}" alt="{% trans "remove relation" %}" />
        				</a>
        			{% endif %}
        			<a href="{% url wiki_view rel.get_url %}">{{rel.title}}</a>
        		</span>
        		{% endfor %}
        	</p>
        {% else %}
        	<p><i>(없음)</i></p>
        {% endif %}
        {% if wiki_write %}
        <form method="POST" action="{% url add_related wiki_article.get_url %}">{% csrf_token %}
        	<input type="text" name="value" id="wiki_related_input" style="width: 193px" />
        	<button type="submit" id="wiki_related_input_submit" disabled="true">{{ "연결"|render_button }}</button>
        	<input type="hidden" name="id" value="" id="wiki_related_input_id" />
        </form>
        {% endif %}

        	</div>
        	<div class="wiki_box_footer">
        		<div class="wiki_box_corner"></div>
        		<div class="wiki_box_bar"></div>
        	</div>
        </div>

        <div class="wiki_box">
        	<div class="wiki_box_header">
        		<div class="wiki_box_corner"></div>
        		<div class="wiki_box_bar"></div>
        	</div>
        	<div class="wiki_box_contents">

        	<div class="wiki_box_title">첨부파일</div>
        	{% if wiki_article.attachments %}
        	<ul>
        		{% for a in wiki_article.attachments %}
        		<li><a href="{{a.download_url}}">{{a.filename|slice:":13"|slice:":-3" }}{% if a.filename|slice:"10:" %}...{{ a.filename|slice:"-3:" }}{% endif %}</a> ({{a.get_size|filesizeformat}})</li>
        		{% endfor %}
        	</ul>
        	{% else %}
        	<p><i>(없음)</i></p>
        	{% endif %}
        	
        {% if wiki_attachments_write %}
        	<form method="POST" action="{% url add_attachment wiki_article.get_url %}" enctype="multipart/form-data" target="wiki_attach_frame">{% csrf_token %}
        		<input type="file" class="fileinput" name="attachment" size="10" /><br />
        		<input type="checkbox" name="overwrite" id="wiki_attach_overwrite" value="1" />같은 파일을 덮어 씁니다.
        		<p><button type="submit">{{ "첨부"|render_button }}</button></p>
        		<div id="wiki_attach_progress_container">
        			<div id="wiki_attach_progress"><br /></div>
        		</div>
        	</form>
        	<iframe name="wiki_attach_frame" style="display:none"></iframe>
        {% endif %}

        	</div>
        	<div class="wiki_box_footer">
        		<div class="wiki_box_corner"></div>
        		<div class="wiki_box_bar"></div>
        	</div>
        </div>
    {% endif %}

  </div>

{% endblock %}

{% endblock %}

</body>
</html>
