{% extends "base.html" %}
{% load rendertext %}
{% load static %}
{% block title %}순위{% endblock %}
{% block head %}{{ "포인트 순위"|render_head }}{% endblock %}
{% block breadcrumbs %}<a href="{% url ranking %}">{{ "Ranking"|render_bread }}</a>{% endblock %}
{% block content %}
  <div class="float_right">
    {{ "내 점수: 이번달"|render_black:15 }}
    {{ my_monthly_point.point|default:0|render_black:15|safe }}{{ "점, 총"|render_black:15 }}
    {{ my_total_point.point|default:0|render_black:15|safe }}{{ "점"|render_black:15 }}
  </div>
  {% for name, each_top10 in top10.items %}
  <h2>{{ name|render_headlet|safe }}</h2>
  <table cellpadding="0" cellspacing="0" border="0" class="display">
    <colgroup>
      <col width="155">
      <col>
    </colgroup>
    <tbody>
    {% for user in each_top10 %}
      <tr class="{% cycle "even" "odd" %}"><td>{{ forloop.counter }}. {{ user.get_profile|safe }}: {{ user.point }}점</td><td><a href="javascript:;"><img rel="tooltip" title="{{ user.point }}점" src="{{ STATIC_URL }}images/bullet/bullet_square.gif" width="{{ user.sz }}" height="10px"></a></td></tr>
    {% empty %}
      <tr><td colspan="2">{{ "순위가 없습니다."|render_black:13 }}</td></tr>
    {% endfor %}
    </tbody>
  </table>
  <br />
  <div class="hr"></div>
  {% endfor %}
{% endblock %}
